<div class="row" id="home">
	<div class="col-md-7 col-xs-12">
		<div class="row portel">
			<div class="col-md-12 col-xs-12">
				<%= render 'overview' %>
			</div>
		</div>

		<div class="row portel">
			<div class="col-md-12 col-xs-12">
				<%= render 'latest_behaviors' %>
			</div>
		</div>

		<div class="row portel">
			<div class="col-md-12 col-xs-12">
				<%= render 'shared/my_announcements' %>
			</div>
		</div>
	</div>

	<div class="col-md-5 col-xs-12 ">
		<div class="row portel portel-right">
			<div class="col-md-12 col-xs-12">
				<%= render 'shared/my_reviews' %>		
			</div>
		</div>
			
	</div>		
</div>