<%= image_tag("my_announcements.gif",alt: "概览") %>
<span class="head">最近记录</span>
<hr>
<div id="latest-behaviors">
	<% @behaviors.each do |b| %>
		<p>
			<%= "#{b.student.iclass.name},#{b.student.name}, #{time_format_min(b.time)}在#{b.address}, 
				发生<strong>#{b.behavior_type.name}</strong>行为, 被扣#{b.score}分.".html_safe %>	
		</p>	
	<% end %>
	<%= paginate @behaviors %>
</div>