<%= render 'shared/notice' %>
<div class="top-links">
  <%= link_to '返 回', students_path(iclass_id: @student.iclass_id), remote: true %>  |
  <%= link_to '编 辑', edit_student_path(@student), remote: true %> 
</div>
<%= render 'student' %>
