<%= image_tag("my_announcements.gif",alt: "我的公告") %>
<span class="head">我的公告</span>
<hr>
<div class="table-responsive">
<table class="table table-bordered table-hover table-condensed">
  <thead>
    <tr>
      <th>标题</th>
      <th>发布人</th>
      <!-- <th>公告内容</th> -->
      <th>发布时间</th>
    </tr>
  </thead>

  <tbody>
    <% @announcements.each do |announcement| %>
      <tr>
        <td><%= link_to announcement.name, read_announcement_path(id: announcement.id), 
          onclick: "var w = window.open(this.href); w.focus(); return false;" %></td>
        <td><%= announcement.user.username %></td>
        <td><%= time_format(announcement.updated_at.getlocal) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>