@import "bootstrap";

$backColor: rgb(55,155,215);
$fontColor: #fff;

html {
  overflow-y: scroll;
}

body {
  background-color: #fff;
  color: #000;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 12px;
  line-height: 18px;
}

section {
  overflow: auto;
}

h1,h2,h3,h4,h5,h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
}

#notice {
  color: green;
}
#alert {
	color: red;
}

table {
	margin-top: 10px;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

#banner {
	height: 38px;
	background: $backColor;

	#logo {
		margin: 10px;
		float: left;
		font-size: 20px;
		&:link, &:hover, &:active, &:visited {
			color: $fontColor;
			background: none;		
			text-decoration:none	
		}
	}

	#nav-left {
		font-size: 13px;
		float: left;
		margin-left: 1em;
		padding: 0;

		a{
			color: $fontColor;
			&:hover {
				background: #E0E0E0;	
			}
		}
		
		.dropdown-menu li a{
			color: #000;
		}
	}	

	#nav-right {
		color: $fontColor;
		float: right;
		margin: 10px;

		li {
			font-size: 13px;
			list-style: none;
			float: left;
			margin-left: 0.5em;
		}

		a {
			color: $fontColor;
			&:link, &:hover, &:active, &:visited {
				background: none;
				text-decoration: none;
			}	
		}
	}
}

div.container {
	margin-top: 2em;
	width: 100%;
}

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* forms */

input, textarea, select, .uneditable-input {
  margin-bottom: 15px;
  // @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .has-error;  
}

.navbtn {
	float: right;
}

.new_button {
	float: right;
}