// Place all the styles related to the Menus controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.one_level {
	font-weight: bold;
	background-color: #C8C8C8;
}

.two_level {
	background-color: #F0F0F0;
}