// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.radio_text {
	margin-right: 1em;
}

.form-group {
	margin-bottom: 1em;
	line-height: 2em;
	vertical-align:middle
}