hr {
	border: 1px solid green;
} 

div.reports-links {
	margin-top: 1em;
	margin-left: 1em;
}

div#via-classes-report {
	width: 80%;
	margin-left: 10%;
}

div#via-grades-report {
	width: 60%;
	margin-left: 20%;
}

div#query-form {
	margin-top: 1em;
	.form-group {
		margin-bottom: 1em;
	}
	div#submit {
		margin-top: 2em;
	}
}

div#student-info {
	margin-top: 1em;
}

div#query-semester-form {
	line-height: 13px;
	font-size: 12px;
}