div#login_page {
	margin: 10% 30%;
}

#login {
	margin-top: 30px;
	#app_logo {
		font-size: 30px;
	}
	#app_info {
		float: right;
	}
}

#welcome {
	margin-top: 2em;
	margin-bottom: 2em;
	text-align: center;
}