div#students-content {
	margin-left: -20px;
}

div#photo {
	padding: 0;
	image {
		border: 2px solid black;	
	}
}

div#import-form {
	margin-top: 1em;
}

div#import-info {
	margin-top: 2em;
	height: 50px;
}

div#export-form {
	margin-top: 5em;	
}