<div class="top-links">
	<div class="row">
		<div class="col-sm-6">
			<span class="head">校园秩序</span>
			<hr>
			<div class="reports-links">
				<%= link_to "本学期统计报表-班级", via_classes_path, remote: true, class: "btn btn-link" %><br>
				<%= link_to "本学期统计报表-年级", via_grades_path, remote: true, class: "btn btn-link" %>	
			</div>
		</div>
		<div class="col-sm-6">
			<span class="head">综合评价</span>
			<hr>
			<div class="reports-links">
					
			</div>
		</div>
		</div>
	</div>	
</div>
<div id="query-form">
	<span class="head">学生行为报告查询</span>
	<hr>
	<%= render 'query' %>
</div>