<!DOCTYPE html>
<html>
	<head>
	  <title>打印学生行为记录单</title>
	  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	  <%= csrf_meta_tags %>
	</head>
	<body>
		<%= yield %>
	</body>